#header {
    background-color: #f5f5f5;
    padding: 10px 0;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1000;

    .link-panel {
        display: block;
        width: 25px;
        position: absolute;
        right: 15px;
        top: 20px;
        height: 20px;
        cursor: pointer;
        z-index: 10;

        span {
            background: #000;
            height: 3px;
            width: 25px;
            position: absolute;
            transition: all 0.3s ease-in-out;
            top: 8px;

            &:before,
            &:after {
                background: #000;
                content: '';
                position: absolute;
                width: 25px;
                height: 3px;
                display: inline-block;
                left: 0;
                transition: all 0.3s ease-in-out;
            }

            &:before {
                top: -8px;
            }

            &:after {
                bottom: -8px;
            }
        }

        &.active {
            span {
                background: transparent;

                &:before,
                &:after {
                    transform-origin: 50% 50% 0;
                    top: 0;
                }

                &:before {
                    transform: rotate3d(0, 0, 1, -45deg);
                }

                &:after {
                    transform: rotate3d(0, 0, 1, 45deg);
                }
            }
        }
    }

    .logo {
        a {
            display: block;
            width: 150px;
        }
    }
}

#main-menu {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 65px;
    background: #fff;
    z-index: 100;

    a {
        padding: rem(10) rem(15);
        display: block;
        color: #000;

        &:hover {
            color: #ccc;
            text-decoration: none;
        }
    }

    .sub-menu {
        display: none;
        padding-left: 20px;
        font-size: rem(15);
    }

    li {
        position: relative;

        &.current-menu-item ,
        &.current-menu-ancestor,
        &.current-menu-parent,
        &.current-page-ancestor,
        &.current-post-ancestor {
            a {
                color: #ff0000;
            }
        }

        span.icon {
            position: absolute;
            right: 15px;
            top: 5px;
            cursor: pointer;

            &:before {
                content: "\f067";
                font-family: 'FontAwesome';
            }

            &.active {
                &:before {
                    content: '\f068';
                }
            }
        }
    }
}

#main-nav {
    li {
        float: left;
        margin: 0 10px;

        a {
            color: #000;

            &:hover,
            &:focus {
                color: #00b2ec;
                text-decoration: none;
            }
        }

        &.current-menu-item ,
        &.current-menu-ancestor,
        &.current-menu-parent,
        &.current-page-ancestor,
        &.current-post-ancestor {
            a {
                color: #00b2ec;
            }
        }
    }

    .sub-menu {
        display: none;
    }
}