#breadcrumbs
    span
        span
            a(href="#") Home
            span.separator &nbsp;
            span
                a(href="#") Sub page lvl 1
                span.separator &nbsp;
                span
                    a(href="#") Sub page lvl 2
                    span.separator &nbsp;
                    span.breadcrumb_last Current page
