header#header
    .container
        .row
            a.link-panel
                span
            .col-sm-3.col-md-2.logo
                a(href="#")
                    img(src="../images/login-logo.png")
            .col-sm-9.col-md-10
                include menu