include ../mixins/all
doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        block title
        link(rel="shortcut icon" href="favicon.ico")
        //Google fonts
        link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css")
        //Stylesheet
        link(href="../css/screen.min.css", rel="stylesheet")
    - var bodyClass = '';
    block vars
    body
        #wrapper
            include header
            block content
            include footer
        script(src="../js/libs/jQuery.js")
        script(src="../js/main.min.js")
