nav#main-menu
    ul
        li.current-menu-item
            a(href="#") Home
        li
            a(href="#") Contact
        li.menu-item-has-children
            a(href="#") Product
            span.icon
            ul.sub-menu
                li.menu-item-has-children
                    a(href="#", title="") Dit is een sub menu
                    span.icon
                    ul.sub-menu
                        li
                            a(href="#", title="") Dit is een sub sub menu
                        li
                            a(href="#", title="") Dit is een sub sub menu
                li
                    a(href="#", title="") Dit is een sub menu