.pagination
    a(href="#").prev Previous page
    span.page-numbers.current 1
    a(href="#").page-numbers 2
    a(href="#").page-numbers 3
    span.page-numbers ...
    a(href="#").page-numbers 99
    a(href="#").next Next page