.wp-editor
    h1 Heading h1
    h2 Heading h2
    h3 Heading h3
    h4 Heading h4
    h5 Heading h5
    h6 Heading h6
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam iusto enim illo voluptate iure harum cumque, ullam, nostrum vero facilis!
        a(href="#")  This is text link
    blockquote
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam iusto enim illo voluptate iure harum cumque, ullam,
            a(href="#") nostrum vero facilis!
    ul
        li Lorem ipsum dolor sit amet.
        li Lorem ipsum dolor sit amet.
        li Lorem ipsum dolor sit amet.
    ol
        li Lorem ipsum dolor sit amet.
        li Lorem ipsum dolor sit amet.
        li Lorem ipsum dolor sit amet.
    table
        tr
            th Table Heading
            th Table Heading
            th Table Heading
        tr
            td Table content
            td Table content
            td Table content
        tr
            td Table content
            td Table content
            td Table content
    table
        thead
            tr
                td Table content
                td Table content
                td Table content
        tbody
            tr
                td Table content
                td Table content
                td Table content