/*
    Syntax:
    font-size: em(32) // if parent has font-size is $font-size-base
    font-size: em(32, parentFontSize) // if parent has font-size is $font-size-base
*/
@function em($pixels, $context: $font-size-base) {
    @if (unitless($pixels)) {
        $pixels: $pixels * 1px;
    }

    @if (unitless($context)) {
        $context: $context * 1px;
    }

    @return $pixels / $context * 1em;
}


/* Syntax: font-size: em(32) */
@function rem($pixels) {
    @if (unitless($pixels)) {
        $pixels: $pixels * 1px;
    }

    @if (unitless($font-size-base)) {
        $font-size-base: $font-size-base * 1px;
    }

    @return $pixels / $font-size-base * 1rem;
}
