/* Mixin */
/* Media breakpoint */
@mixin breakpoint($point) {
    @if ($point == xxs){
        @media only screen and (min-width: $screen-xxs-min) {
            @content;
        }
    }
    @else if ($point == xs) {
         @media only screen and (min-width: $screen-xs-min){
            @content;
        }
    }
    @else if ($point == sm) {
         @media only screen and (min-width: $screen-sm-min){
            @content;
        }
    }
    @else if ($point == md) {
         @media only screen and (min-width: $screen-md-min){
            @content;
        }
    }
    @else if ($point == lg) {
         @media only screen and (min-width: $screen-lg-min){
            @content;
        }
    }
    @else {
         @media only screen and (min-width: $point){
            @content;
        }
    }
}

@mixin between-breakpoints($min, $max) {
    @media (min-width: $min) and (max-width: $max){
        @content;
    }
}

@mixin block-grid($number, $gutter) {
    @include clearfix(true);
    margin-left: ceil(($gutter / -2)) * 1px;
    margin-right: floor(($gutter / -2)) * 1px;

    > * {
        float: left;
        width: 100 / $number * 1%;
        padding-left: ceil(($gutter / 2)) * 1px;
        padding-right: floor(($gutter / 2)) * 1px;

        &:nth-of-type(n) {
            clear: none;
        }

        &:nth-of-type(#{$number}n+1) {
            clear: both;
        }
    }
}

@mixin block-grid-column($number) {
    > * {
        width: 100 / $number * 1%;

        &:nth-of-type(n) {
            clear: none;
        }

        &:nth-of-type(#{$number}n+1) {
            clear: both;
        }
    }
}

@mixin block-grid-space($gutter) {
    margin-left: ceil(($gutter / -2)) * 1px;
    margin-right: floor(($gutter / -2)) * 1px;

    > * {
        padding-left: ceil(($gutter / 2)) * 1px;
        padding-right: floor(($gutter / 2)) * 1px;
    }
}

/*Syntax @include triangle(size, #color, up/down/left/right/up-left/down-left/up-right/down-right)*/
@mixin triangle($size, $color, $direction) {
    $width: nth($size, 1);
    $height: nth($size, length($size));
    $foreground-color: nth($color, 1);
    $background-color: if(length($color) == 2, nth($color, 2), transparent);
    height: 0;
    width: 0;

    @if ($direction == up) or ($direction == down) or ($direction == right) or ($direction == left) {
        $width: $width / 2;
        $height: if(length($size) > 1, $height, $height/2);

        @if $direction == up {
            border-bottom: $height solid $foreground-color;
            border-left: $width solid $background-color;
            border-right: $width solid $background-color;
        }
        @else if $direction == right {
            border-bottom: $width solid $background-color;
            border-left: $height solid $foreground-color;
            border-top: $width solid $background-color;
        }
        @else if $direction == down {
            border-left: $width solid $background-color;
            border-right: $width solid $background-color;
            border-top: $height solid $foreground-color;
        }
        @else if $direction == left {
            border-bottom: $width solid $background-color;
            border-right: $height solid $foreground-color;
            border-top: $width solid $background-color;
        }
    }
    @else if ($direction == up-right) or ($direction == up-left) {
        border-top: $height solid $foreground-color;
        @if $direction == up-right {
            border-left: $width solid $background-color;
        }
        @else if $direction == up-left {
            border-right: $width solid $background-color;
        }
    }
    @else if ($direction == down-right) or ($direction == down-left) {
        border-bottom: $height solid $foreground-color;
        @if $direction == down-right {
            border-left: $width solid $background-color;
        }
        @else if $direction == down-left {
            border-right: $width solid $background-color;
        }
    }
    @else if ($direction == inset-up) {
        border-color: $background-color $background-color $foreground-color;
        border-style: solid;
        border-width: $height $width;
    }
    @else if ($direction == inset-down) {
        border-color: $foreground-color $background-color $background-color;
        border-style: solid;
        border-width: $height $width;
    }
    @else if ($direction == inset-right) {
        border-color: $background-color $background-color $background-color $foreground-color;
        border-style: solid;
        border-width: $width $height;
    }
    @else if ($direction == inset-left) {
        border-color: $background-color $foreground-color $background-color $background-color;
        border-style: solid;
        border-width: $width $height;
    }
}

@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}
