// -Utilities
@mixin clearfix($media: false) {
    @if ($media == false) {
        @extend %clearfix;
    } @else {
        &:before,
        &:after {
            content: ' ';
            display: table;
        }

        &:after {
            clear: both;
        }
    }
}

%clearfix {
    &:before,
    &:after {
        content: ' ';
        display: table;
    }

    &:after {
        clear: both;
    }
}

.clearfix {
    @extend %clearfix;
}

.text-hide {
    font-size: 0;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
    text-indent: -90000em;
}
