// Variable overrides for css frameworks and libraries
$font-size-base: 16px;

$primary-font: "Open Sans", Arial, Helvetica, sans-serif;

$primary-color: #262626;
$link-color: #00b2ec;
$active-color: $link-color;
$hover-color: #ccc;
$placeholder-color: #ccc;

$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
