@import "helpers/functions";
@import "helpers/mixin";
@import "helpers/utilities";
@import "helpers/variables";

.wp-editor {
    line-height: 1.625;

    img {
        max-width: 100%;
        height: auto;
    }

    .alignleft {
        float: left;
        margin: 10px 25px 25px 0;
    }

    .alignright {
        float: right;
        margin: 10px 0 25px 25px;
    }

    .aligncenter {
        margin: 0 auto;
        float: none;
        text-align: center;
        display: block;
        clear: both;
        margin-bottom: 20px;
    }

    h1 {
        font-size: 32px;
        margin-bottom: 10px;
    }

    h2 {
        font-size: 26px;
        margin-bottom: 10px;
    }

    h3 {
        font-size: 22px;
        margin-bottom: 10px;
    }

    h4,
    h5,
    h6 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    p {
        margin-bottom: 20px;
    }

    .wp-caption-text {
        font-size: 13px;
        font-style: italic;
        margin: 5px 0 0 0;
    }

    ol {
        margin-bottom: 20px;

        li {
            list-style: decimal outside none;
            margin-left: 15px;
            padding-left: 5px;
        }
    }

    ul {
        margin-bottom: 20px;

        li {
            list-style: none;
            padding-left: 20px;
            position: relative;

            &:before {
                content: "";
                width: 4px;
                height: 4px;
                background-color: #ddd;
                position: absolute;
                left: 0;
                top: 12px;
            }
        }
    }

    blockquote {
        font-size: inherit;
        font-style: italic;
        margin-bottom: 30px;
    }

    iframe {
        max-width: 100%;
    }

    table {
        margin-bottom: 20px;
        width: 100%;
        border-bottom: 1px solid #999;
        max-width: 100%;

        td {
            vertical-align: top;
            padding: 5px 20px;
            border-right: 1px solid #999;
            font-size: 14px;

            &:first-child {
                border-left: 1px solid #999;
            }
        }

        th,
        thead td {
            background: #ccc;
            vertical-align: top;
            padding: 7px 20px;
            border-left: 1px solid #999;
            border-top: 1px solid #999;
            border-bottom: 1px solid #999;
            font-weight: 400;
            text-transform: uppercase;
            font-size: 16px;

            &:last-child {
                border-right: 1px solid #999;
            }
        }
    }

    dl {
        margin-bottom: 20px;
    }

    blockquote {
        font-size: inherit;
        font-style: italic;
        margin-bottom: 20px;
        background: #ccc;
        padding: 20px;

        *:last-child {
            margin-bottom: 0;
        }
    }

    figure {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .table-container {
        overflow: auto;
    }
}