@import "vendors/foundation"; /* Bootstrap framework */
@import "vendors/slick"; /* Slick slider */
@import "helpers/*"; /* Variables, functions, mixin */
@import "fonts/*"; /* @font-face */
@import "reset/*"; /* Reset */
@import "components/*"; /* Button, Breadcrumbs, Pagination, Modal,.... */
@import "blocks/*"; /* Header, Footer, Main, Sidebar */
@import "pages/*";

/* Small screen / mobile (480 and up) */
@media screen and (min-width: $screen-xs-min) {
    @import "responsive/screen-xxs/*";
}

/* Small screen / tablet (768 and up) */
@media screen and (min-width: $screen-sm-min) {
    @import "responsive/screen-sm/*";
}

/* Medium screen / desktop (992 and up) */
@media screen and (min-width: $screen-md-min) {
    @import "responsive/screen-md/*";
}

/* Large screen / wide desktop (1200 and up) */
@media screen and (min-width: $screen-lg-min) {
    @import "responsive/screen-lg/*";
}

/* Media print */
@media print {
    @import "print/*";
}

@import "editor"; /*WP editor*/
