button,
input[type="submit"],
a.btn {
    background: $link-color;
    border: 0;
    padding: rem(5) rem(10);
    cursor: pointer;
    color: #fff;
}

a.btn {
    display: inline-block;
    text-decoration: none !important;
}

.btn {
    &.primary {
        background-color: $link-color;
        color: #fff;
    }

    &.default {
        background-color: $placeholder-color;
        color: $link-color;
    }

}