.validation_error,
.validation_message {
    display: none;
}

.wp-editor {
    .gform_wrapper {
        li {
            padding-left: 0;

            &:before {
                display: none;
            }
        }
    }

    .gfield_radio {
        margin: 0;
    }
}

.gfield {
    margin: 0 0 10px;
}

.gfield_radio {
    input {
        display: none;
    }

    label {
        position: relative;
        padding-left: rem(35);

        &:before {
            width: 19px;
            height: 19px;
            border: 1px solid $placeholder-color;
            border-radius: 50%;
            content: '';
            position: absolute;
            left: 0;
            top: 0;
        }
    }

    input[type=radio]:checked + label {
        &:after {
            width: 5px;
            height: 5px;
            border-radius: 50%;
            content: '';
            position: absolute;
            background: $link-color;
            left: 7px;
            top: 7px;
        }
    }
}

.gfield_checkbox {
    input {
        display: none;
    }

    label {
        position: relative;
        padding-left: rem(35);

        &:before {
            width: 19px;
            height: 19px;
            border: 1px solid $placeholder-color;
            border-radius: 4px;
            content: '';
            position: absolute;
            left: 0;
            top: 0;
        }
    }

    input[type=checkbox]:checked + label {
        &:after {
            content: "\f00c";
            font-family: 'FontAwesome';
            position: absolute;
            left: 4px;
            top: -1px;
            color: $link-color;
            font-size: 12px;
        }
    }
}

.gfield_error {
    input[type="text"],
    textarea {
        border: 1px #ff0000 solid;
    }
}