.select2-container {
    position: relative;
    display: inline-block;
    z-index: 1000;
}

.select2-selection {
    display: block;
    background: #ccc;
    position: relative;
    white-space: nowrap;
    cursor: pointer;

    .select2-selection__rendered {
        padding: 10px 60px 10px 15px;
        display: block;
        overflow: hidden;
    }

    .select2-selection__arrow {
        width: 46px;
        display: inline-block;
        vertical-align: middle;
        position: absolute;
        top: 0px;
        right: 0;
        height: 46px;
        background: #ccc;

        &:after {
            font-family: 'FontAwesome';
            content: "\f0d7";
            position: absolute;
            top: 10px;
            right: 15px;
        }

        b {
            display: none;
        }
    }
}

.select2-search,
.select2-hidden-accessible {
    display: none;
}

.select2-dropdown {
    display: block;
    border: 1px solid #ccc;
    border-top: none;
}

.select2-results {
    display: block;

    li {
        background: #fff;
        padding: 12px 15px 9px;
        cursor: pointer;

        &:hover {
            background: #ddd !important;
            color: #262626;
        }
    }
}

.select2-results__option[aria-selected=true] {
    background: #ddd !important;
    color: #262626 !important;
}

.select2-results__options {
    overflow-y: auto;
    max-height: 200px;
}