.test-equalize {
    @include block-grid(3, 30);
    margin-bottom: 20px;

    .inner {
        border: 1px solid #ddd;
        padding: 10px;
    }
}

.grid-mixin {
    @include block-grid(2, 20);
    font-size: rem(24);

    .block-grid-item {
        font-size: em(28, 24);
    }
}