#header {
    .link-panel,
    span.icon {
        display: none;
    }
}

#main-menu {
    display: block;
    position: inherit;
    top: auto;
    background: transparent;
    text-align: right;

    ul {
        width: auto;
    }

    li {
        display: inline-block;
        margin-left: 20px;

        a {
            padding: rem(10) 0;
        }
    }
}