extends blocks/layout
block vars
    - var mainClass = 'other-page';
block title
    title Other page
block content

    main#main(class="#{mainClass}")
        .container
            .wp-editor
                include blocks/gravity-form
