extends blocks/layout
block vars
    - var mainClass = 'home-page';
block title
    title Home page
block content

    main#main(class="#{mainClass}")
        .container
            .row
                .col-sm-2
                    include blocks/sidebar
                .col-sm-10
                    h2 Grid bootstrap
                    br
                    .row
                        .col-sm-4 Column A
                        .col-sm-4 Column B
                        .col-sm-4 Column C
                    hr
                    h2 Grid mixin
                    br
                    .grid-mixin
                        .block-grid-item Column A1
                        .block-grid-item Column B1
                        .block-grid-item Column C1
                        .block-grid-item Column A1
                        .block-grid-item Column B1
                        .block-grid-item Column C1
                    hr
                    h2#block-2 Equalize element
                    br
                    ul.test-equalize
                        li
                            .inner
                                h3 Title card
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, minus. Quisquam incidunt iusto libero quam explicabo mollitia quis quibusdam iure.
                        li
                            .inner
                                h3 Title card
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. A illo, voluptatibus quidem eos in laborum ullam veritatis aperiam magnam fugit molestias officiis numquam dolor nulla, quaerat eum soluta ipsa explicabo.
                        li
                            .inner
                                h3 Title card
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum sint eius maiores vero nostrum corporis, repellendus, animi deserunt harum dolorum natus, ullam, voluptates voluptatibus sed debitis earum necessitatibus accusantium consequuntur cupiditate eveniet commodi quos non. Odit distinctio minus, dolore omnis.
                    include blocks/wp-editor
                    include blocks/paging
