/* Fontface */
@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.3.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'),
    url('../fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'),
    url('../fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'),
    url('../fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'),
    url('../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ElegantIcons";
    src: url("../fonts/ElegantIcons.eot");
    src: url("../fonts/ElegantIcons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/ElegantIcons.woff") format("woff"),
    url("../fonts/ElegantIcons.ttf") format("truetype"),
    url("../fonts/ElegantIcons.svg#ElegantIcons") format("svg");
    font-weight: normal;
    font-style: normal;
}
